{# jinja2: trim_blocks=True, lstrip_blocks=True #}

{% if access_lists is defined %}
{% for acl in access_lists %}
ip access-list {{ acl.type }} {{ acl.name }}
{% for entry in acl.entries | default(acl.rules) %}
 {% if entry.remark is defined %}
 remark {{ entry.remark }}
 {% elif entry.permit is defined %}
 permit {{ entry.permit }} {{ entry.src | default('any') }} {{ entry.wildcard | default('') }} {{ entry.dest | default('any') }} {{ entry.port | default('') }}
 {% elif entry.deny is defined %}
 deny {{ entry.deny }} {{ entry.src | defualt('any') }} {{ entry.wildcard | defualt('') }} {{ entry.dest | default('any') }} {{ entry.port | default('') }}
 {% endif %}
{% endfor %}
{% endfor %}
{% endif %}