{# jinja2: trim_blocks=True, lstrip_blocks=True #}

{% if interfaces is defined %}
{% for intf in interfaces %}
{% set is_range = '-' in intf.name and intf.name[:2] in ['Fa','Gi','Te','Fo'] %}
{% if is_range %}
interface range {{ intf.name }}
{% else %}
interface {{ intf.name }}
{% endif %}

 {% if intf.description is defined %}
 description {{ intf.description }}
 {% endif %}

 {% if intf.mode is defined %}
 {% if intf.mode == 'routed' %}
 no switchport
 {% elif intf.mode == 'trunk' %}
 switchport trunk encapsulation dot1q
 switchport mode trunk
 {% elif intf.mode == 'access' %}
 switchport mode access
 {% endif %}
 {% endif %}

 {% if intf.native_vlan is defined %}
 switchport trunk native vlan {{ intf.native_vlan }}
 {% endif %}
 {% if intf.access_vlan is defined %}
 switchport access vlan {{ intf.access_vlan }}
 {% endif %}

 {% if intf.ip_address is defined and intf.subnet_mask is defined %}
 ip address {{ intf.ip_address }} {{ intf.subnet_mask }}
 {% endif %}

 {% if intf.shutdown is defined and intf.shutdown == false %}
 no shutdown
 {% else %}
 shutdown
 {% endif %}

 {% if intf.port_security is defined %}
 switchport port-security
 {% if intf.port_security.maximum is defined %}
 switchport port-security maximum {{ intf.port_security.maximum }}
 {% endif %}
 {% if intf.port_security.violation is defined %}
 switchport port-security violation {{ intf.port_security.violation }}
 {% endif %}
 {% if intf.port_security.sticky is defined and intf.port_security.sticky %}
 switchport port-security mac-address sticky
 {% endif %}
 {% endif %}

 {% if intf.helper_address is defined %}
 ip helper-address {{ intf.helper_address }}
 {% endif %}

 {% if intf.nat_inside is defined and intf.nat_inside == false %}
 ip nat outside
 {% endif %}

 {% if intf.vrrp is defined and intf.vrrp.group is defined %}
 {% if intf.vrrp.ip is defined %}
 vrrp {{ intf.vrrp.group }} ip {{ intf.vrrp.ip }}
 {% endif %}
 vrrp {{ intf.vrrp.group }} priority {{ intf.vrrp.priority | default(100) }}
 {% if intf.vrrp.auth_text is defined and intf.vrrp.auth_text == true %}
 vrrp {{ intf.vrrp.group }} authentication text {{ host.data["vrrp_auth_text"] }}
 {% else %}
  ! WARNING: VRRP authentication missing for {{ intf.name }}
 {% endif %}
 {% if intf.vrrp.is_primary is defined and intf.vrrp.is_primary == true %}
 vrrp {{ intf.vrrp.group }} preempt delay minimum 60
 {% endif %}
 {% endif %}

{% endfor %}
{% endif %}