{# jinja2: trim_blocks=True, lstrip_blocks=True #}

{% if routing is defined %}
{% if routing.rip is defined %}
router rip
 version {{ routing.rip.version }}
{% endif %}
 {% for net in routing.rip.networks %}
 network {{ net }}
 {% endfor %}
 {% if routing.rip.auto_summary is defined and routing.rip.auto_summary == false %}
 no auto-summary
 {% endif %}
{% endif %}