#jinja2: trim_blocks: True, lstrip_blocks: True

hostname {{ hostname }}

enable secret {{ host.data["secret"] }}

username {{ host.data["local_username"] }} privilege 15 secret {{ host.data["local_password"] }}

{% if banner is defined %}
banner motd {{ banner }}
{% endif %}

{% if service_password_encryption is defined and service_password_encryption %}
service password-encryption
{% endif %}

{% if domain is defined and domain.name is defined and domain.lookup is defined and domain.lookup == false %}
ip domain-name {{ domain.name }}
{% endif %}

{% if crypto_rsa_key is defined %}
{{ crypto_rsa_key }}
{% endif %}

! ==== IP ROUTING ====
{% if ip_routing is defined and ip_routing == true %}
ip routing
{% endif %}

! ==== REMOTE ACCESS ====
{% if line_vty is defined %}
line vty {{ line_vty.range | default('0 4') }}
 {% if line_vty.password is defined %}
 password {{ line_vty.password }}
 {% endif %}
 {% if line_vty.login is defined %}
 login {{ line_vty.login }}
 {% endif %}
 {% if line_vty.transport_input is defined %}
 transport input {{ line_vty.transport_input }}
 {% endif %}
{% endif %}

! ==== VLANS ====
{% if vlans is defined %}
{% for vlan in vlans %}
vlan {{ vlan.id | default('1') }}
 name {{ vlan.name | default('DEFAULT') }}
{% endfor %}
{% endif %}

! ==== VTP ====
{% if vtp is defined %}
 {% if vtp.mode is defined %}
 vtp mode {{ vtp.mode }}
 {% endif %}
 {% if vtp.domain is defined %}
 vtp domain {{ vtp.domain }}
 {% endif %}
 {% if vtp.version is defined %}
 vtp version {{ vtp.version }}
 {% endif %}
{% endif %}

! ==== STP ====
{% if stp is defined %}
 {% if stp.mode is defined %}
 spanning-tree mode {{ stp.mode }}
 {% endif %}
 {% if stp.vlans is defined and stp.priority is defined %}
 spanning-tree vlan {{ stp.vlans }} priority {{ stp.priority }}
 {% endif %}
{% endif %}

! ==== INTERFACES ====
{% if interfaces is defined %}
{% for intf in interfaces %}
  {% set is_range = '-' in intf.name and intf.name[:2] in ['Fa','Gi','Te','Fo'] %}
  {% if is_range %}
interface range {{ intf.name }}
  {% else %}
interface {{ intf.name }}
  {% endif %}
  {% if intf.mode is defined %}
    {% if intf.mode == 'routed' %}
  no switchport
    {% elif intf.mode == 'trunk' %}
  switchport trunk encapsulation dot1q
  switchport mode trunk
    {% elif intf.mode == 'access' %}
  switchport mode access
    {% endif %}
  {% endif %}
  {% if intf.native_vlan is defined %}
  switchport trunk native vlan {{ intf.native_vlan }}
  {% endif %}
  {% if intf.access_vlan is defined %}
  switchport access vlan {{ intf.access_vlan }}
  {% endif %}
  {% if intf.ip_address is defined and intf.subnet_mask is defined %}
  ip address {{ intf.ip_address }} {{ intf.subnet_mask }}
  {% endif %}
  {% if intf.shutdown is defined %}
    {% if intf.shutdown %}
  shutdown
    {% else %}
  no shutdown
    {% endif %}
  {% endif %}
  {% if intf.port_security is defined %}
  switchport port-security
    {% if intf.port_security.maximum is defined %}
  switchport port-security maximum {{ intf.port_security.maximum }}
    {% endif %}
    {% if intf.port_security.violation is defined %}
  switchport port-security violation {{ intf.port_security.violation }}
    {% endif %}
    {% if intf.port_security.sticky is defined and intf.port_security.sticky %}
  switchport port-security mac-address sticky
    {% endif %}
  {% endif %}
  {% if intf.helper_address is defined %}
  ip helper-address {{ intf.helper_address }}
  {% endif %}
  {% if intf.nat_inside is defined and intf.nat_inside %}
  ip nat inside
  {% endif %}
  {% if intf.hsrp is defined %}
    {% if intf.hsrp.group is defined and intf.hsrp.ip is defined %}
  standby {{ intf.hsrp.group }} ip {{ intf.hsrp.ip }}
    {% endif %}
    {% if intf.hsrp.version is defined %}
  standby version {{ intf.hsrp.version }}
    {% endif %}
    {% if intf.hsrp.priority is defined and intf.hsrp.group is defined %}
  standby {{ intf.hsrp.group }} priority {{ intf.hsrp.priority }}
    {% endif %}
    {% if intf.hsrp.preempt is defined and intf.hsrp.preempt %}
  standby {{ intf.hsrp.group }} preempt
    {% endif %}
  {% endif %}
  {% if intf.mls_qos_cos is defined %}
  mls qos cos {{ intf.mls_qos_cos }}
  {% endif %}
  {% if intf.service_policy_input is defined %}
  service-policy input {{ intf.service_policy_input }}
  {% endif %}
  {% if intf.service_policy_output is defined %}
  service-policy output {{ intf.service_policy_output }}
  {% endif %}
{% endfor %}
{% endif %}

! ==== NAT ====
{% if nat is defined and nat.inside_source_overload is defined %}
ip nat inside source list {{ nat.inside_source_overload.access_list }} interface {{ nat.inside_source_overload.interface }} overload
{% endif %}

! ==== DHCP ====
{% if dhcp is defined %}
{% for pool in dhcp.pools %}
ip dhcp pool VLAN{{ pool.vlan }}
 network {{ pool.network }} {{ pool.subnet_mask }}
 default-router {{ pool.default_router }}
{% endfor %}
{% if dhcp.excluded_addresses is defined %}
{% for excl in dhcp.excluded_addresses %}
ip dhcp excluded-address {{ excl.start }} {{ excl.end }}
{% endfor %}
{% endif %}
{% endif %}

! ==== ROUTING PROTOCOLS ====
{% if routing is defined %}
 {% if routing.ospf is defined %}
router ospf {{ routing.ospf.process_id }}
 router-id {{ routing.ospf.router_id }}
  {% if routing.ospf.log_adjacency_changes is defined and routing.ospf.log_adjacency_changes == true %}
 log-adjacency-changes
  {% endif %}
  {% for net in routing.ospf.networks %}
 network {{ net.network }} {{ net.wildcard }} area {{ net.area }}
  {% endfor %}
 {% endif %}
 {% if routing.rip is defined %}
router rip
 version {{ routing.rip.version }}
  {% for net in routing.rip.networks %}
 network {{ net }}
  {% endfor %}
  {% if routing.rip.auto_summary is defined and routing.rip.auto_summary == false %}
 no auto-summary
  {% endif %}
 {% endif %}
{% endif %}

! ==== QOS ====
{% if routing is defined and routing.qos is defined and routing.qos.enable_mls_qos == true %}
mls qos
{% endif %}

! ==== ACL ====
{% if routing is defined and routing.access_lists is defined %}
{% for acl in routing.access_lists %}
ip access-list {{ acl.type }} {{ acl.name }}
 {% for rule in acl.rules %}
  {% if rule.permit is defined %}
 permit {{ rule.permit }} {{ rule.src }} {{ rule.wildcard }} {{ rule.dest | default('any') }}
  {% elif rule.deny is defined %}
 deny {{ rule.deny }} {{ rule.src }} {{ rule.wildcard }} {{ rule.dest | default('any') }}
  {% endif %}
 {% endfor %}
{% endfor %}
{% endif %}

! ==== DEFAULT GATEWAY ====
{% if default_gateway is defined %}
ip default-gateway {{ default_gateway }}
{% endif %}

end